<div class="collapse navbar-collapse" id="navbarContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  </ul>
  <ul class="navbar-nav">
    <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Menu </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDropdown">
          <li><%= link_to 'Edit Profile', edit_user_registration_path, class: "dropdown-item" %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete , class: "dropdown-item" %></li>
        </ul>
      </li>
    <% else # user not signed it %>
      <li class="nav-item"><%= link_to 'Login', login_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to 'Signup', signup_path, class: "nav-link" %></li>
    <% end # if user is signed it %>
  </ul>
</div>
