<div class="collapse navbar-collapse" id="navbarContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  </ul>
  <ul class="navbar-nav">
    <%= render collapsible_links_partial_path %>
  </ul>
</div>
